@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Cairo", sans-serif;
}
#RFS-ConnectorContainer {
  top: calc(1em - 5px) !important;
  left: calc(-50%) !important;
  right: calc(50%) !important;
  position: absolute;
  z-index: -1 !important;
}

@media screen and (max-width: 600px) {
  body {
    overflow-x: hidden;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
